body{
  background: #222222;
  color: #ffffff;
}

#navbar{
  position: absolute;
  right: 0;
  width: 100%;
  padding: 15px 30px;
}

.navcat{
  padding: 5px;
  color: #ffffff;
}

#logo{
  height: 233px;
  margin-top: 89px;
}

#view{
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
}